{% extends "base.html" %}

{% block title %}
	EatProject: Add Item
{% endblock %}

{% block content %}


    <br><h3>Enter Food Details</h3>
    <form action="/add_item" method="post" id="food-form" name="login">
			{{ form.hidden_tag() }}
<!--       <div class="divider"></div>
      <div class="section"> -->
	        <p>
	          Name of Food Item<br>
	          {{ form.food_name(size=60) }}<br>
	        </p>
	        <p>
	          Ingredients<br>
	          {{ form.ingredients(size=60) }}<br>
	        </p>
	        <p>
	          Diet Type<br>
	          {{ form.diet_restriction }}<br>
	        </p>
	        <p>
	          Cuisine<br>
	          {{ form.cuisine_type(size=60) }}<br>
	        </p>
	        <p>
	          Price:<br>
	          {{ form.price(size=60) }}<br>
	        </p>
	        <p>
	          Phone number<br>
	          {{ form.phone_num(size=60) }}<br>
	        </p>

<!-- GEOCODING -->
<body onload="initMap()">
 <div id="map_canvas" style="width: 320px; height: 40px; display:none;"></div>
  <div>
  			<p>Street Address - Must Be Verified Before Submitting Item</p>
    <input id="address" type="textbox" placeholder="Enter pickup address">
 	<br><input type="button" id="geocode-button" value="Grab my coordinates!" onclick="codeAddress()"></p>
  </div>

	<div id="output1">{{ form.lat }}</div>
	<div id="output2">{{ form.lng }}</div>


<!-- GEOCODING API key. -->
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBxnXLF77Tj2wHcTj437zdcRL73UvBcvig&callback=initMap">
</script>





					<p><input type="submit" id="add_item" value="Post Item"></p>
    </form>



{% endblock %}
