 <!doctype html>

<html>
  <head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/main.css">
    <script type="text/javascript" src="/static/interactions.js"></script> 

    <style>{% block styles %}{% endblock %}</style>
  </head>

  <body>
  
    <header>
      <img id="logo" src="/static/images/logo.png">  
      <div id="header-object2">
          <h2>The Eat Project</h2>
      </div>
    </header>

    {% block content %}
    <form action="logout" class="logout-form">
      <br>Logged in as {{ name }}
      <input class="logout-button" id="logout-button" type="submit" value="Logout">
    </form>

    {% endblock %}
    
<!--     
  


    


  <footer>
    <h5>Copyright placeholder</h5>
  </footer>
  
  </body>
</html>