{% extends "base.html" %}

{% block title %}
  Create Trip
{% endblock %}

{% block header %}
    <form action="logout" id="logout">
      <span id="username">Logged in as {{ name }}</span>
      <input class="action-button" id="logout-button" type="submit" value="Logout">
    </form>
{% endblock %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="section">
			<!-- <a href="{{ url_for('create_trip') }}"> Create Trip </a> -->
		</div>
		<h1>Enter Trip Details</h1><br>
		<form action="" method="POST" name="login">
			{{ form.hidden_tag() }}
			<div class="divider"></div>
			<div class="section">
				<p>
					Trip Name: <br>
					{{form.trip_name(size=120)}} <br>
				</p>
				<p>
					Destination: <br>
					{{form.destination(size=120)}} <br>
				</p>
				<p>
					Travel Buddy: <br>
					{{form.friends(size=1)}} <br>
				</p>
			</div>
			<input class="action-button" type="submit" value="Create Trip"><br><br>
			<button class="return-button"><a href="{{ url_for('trips') }}">Return to Dashboard</a></button><br>	
				
				<!-- <button class="action-button" id="submit-survey">Submit</button> -->
			</p>
		</form>
	</div>
</div>

{% endblock %}
