{% extends "base.html" %}

{% block title %}
  EatProject:Home
{% endblock %}


{% block content %}

<section id="google-map">
	<h3>Click on a pin on the map below to see product details</h3>
	<img id="placeholder-img" src="/static/images/map.png">

</section>


<table>
	<tr>
		<td class="seller-pic"><img src="/static/images/foodpic2.jpg" style="width:50%;"></td>
		<td class="food-info">FOOD NAME + DESCRIPTION</td>
		<td class="seller-info">SELLER CONTACT INFO</td>
	</tr>
	<tr>
		<td class="seller-pic"><img src="/static/images/foodpic2.jpg" style="width:50%;">
		<td class="food-info">FOOD NAME + DESCRIPTION</td>
		<td class="seller-info">SELLER CONTACT INFO</td>
	</tr>
	<tr>
		<td class="seller-pic"><img src="/static/images/foodpic2.jpg" style="width:50%;">
		<td class="food-info">FOOD NAME + DESCRIPTION</td>
		<td class="seller-info">SELLER CONTACT INFO</td>
	</tr>
	<tr>
		<td class="seller-pic"><img src="/static/images/foodpic2.jpg" style="width:50%;">
		<td class="food-info">FOOD NAME + DESCRIPTION</td>
		<td class="seller-info">SELLER CONTACT INFO</td>
	</tr>
	<tr>
		<td class="seller-pic"><img src="/static/images/foodpic2.jpg" style="width:50%;">
		<td class="food-info">FOOD NAME + DESCRIPTION</td>
		<td class="seller-info">SELLER CONTACT INFO</td>
	</tr>



</table>





{% endblock %}

