{% extends "base.html" %}

{% block title %}
	EatProject:Login
{% endblock %}


{% block content %}




<br><h3>You must log in to list your item</h3>
	<form id="login-form" action="login" method="post">
		<label for="username">USERNAME</label><br>
		<input type="text" name="username"></input><br><br>
		<label for="password">PASSWORD</label><br>
		<input type="text" name="password"></input><br>
		<input class="submit-button" id="login" type="submit" value="Submit">

	</form>

{% endblock %}
