<!-- DELETE THIS PART FOR NUM. 2 -->
{% extends "base.html" %}
<!-- DELETE THIS PART FOR NUM. 2 -->

{% block title %}
	Login
{% endblock %}

<!-- DELETE THIS PART FOR NUM. 2 -->
{% block content %}
<!-- DELETE THIS PART FOR NUM. 2 -->
	<h1><br>Hi there! Welcome to Travelity, the leading trip planning site</h1><br><br>
	<div class="main-container">
		<form action="login" method='post'>
		<!-- DELETE THIS PART FOR NUM. 2 -->
			<label>What's your name?<br>
			<input type="text" name="username"></label><br><br>
			<label>How about your email?<br>
			<input type="text" name="email"></label>
			<br><br>
			<input class="action-button" id="login" type="submit" value="Submit">
		</form>
	</div>

<!-- DELETE THIS PART FOR NUM. 2 -->
{% endblock %}
<!-- DELETE THIS PART FOR NUM. 2 -->