{% extends "base.html" %}

{% block title %}
  Home
{% endblock %}

{% block header %}
    <form action="logout" id="logout">
      <span id="username">Logged in as {{ name }}</span>
      <input class="action-button" id="logout-button" type="submit" value="Logout">
    </form>
{% endblock %}


{% block content %}
  <div class="container" id="tables">
    <div class="row">
      <h1>DASHBOARD</h1>
      <div class= "section">
        <button class="action-button"><a href="{{ url_for('create_trip') }}">Create a Trip</a></button>
        <button class="action-button"><a href="{{ url_for('create_user') }}">Add a User to App</a></button>
      </div>
      <div class="divider"></div>
      <div class="section"><br><br>
        <h2>All your Trips</h2>
        <table class="w3-table w3-striped w3-border">
          <thead>
            <tr>
              <th data-field="trip_id">Trip ID </th>
              <th data-field="trip_name">Trip Name</th>
              <th data-field="destination">Destination</th>
            </tr>
          </thead>

<!-- code to display all user -->
            {% for trip in trips %}
              <tr>
                <td> {{trip['trip_id']}} </td>
                <td> {{trip['trip_name']}} </td>
                <td> {{trip['destination']}} </td>
                <td><button id = {{trip['trip_id']}} class="delete">Delete</button></td>
              </tr>
            {% endfor %}
          </table>
      </div>

      <!-- <div class="section">
        <br><h2>Users in Our System</h2>
        <table class="w3-table w3-striped w3-border">
          <thead>
            <tr>
              <th data-field="user_id">User ID</th>
              <th data-field="username">Name</th>
              <th data-field="email">Email</th>
            </tr>
          </thead>
          {% for user in users %}
            <tr>
              <td> {{ user['user_id']}} </td>
              <td> {{ user['username']}} </td>
              <td> {{ user['email']}} </td>
            </tr>
          {% endfor %}
        </table>
      </div> -->
   </div>
  </div>
  <br><br>
{% endblock %}
